.block {
  margin-bottom: 8rem;
}

.head {
  background-color: #242424;
  text-align: center;
  padding: 0.1em 0;
}

.head span {
  color: #FFF;
  font-family: Euclid SemiBold;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.no-underHead {
  margin-bottom: 2.5em;
}

.under-head {
  padding-top: 1.7em;
  margin-bottom: 3em
}

.under-head span {
  font-size: 2rem;
  font-family: Euclid SemiBold;
}

.position {
  margin-bottom: 4em;
}

.position-grid {
  display: flex;
  justify-content: space-between;

}

.container {
    padding: 0 2em 0 2em;
}

.position-name, .position-price {
  font-size: 2.7rem;
}

.position-info {
  width: 68%;
}

.position-price {
  width: 25%;
  word-wrap: break-word;
  text-align: right;
}

.position-price .weight{
  font-size: 2rem;
  font-family: Euclid SemiBold;
  color: #a2a2a2;
}

.position-desc span {
  font-size: 2.3rem;
}

.position-name {
  margin: 0 0 0.2em 0;
}

.position-name span {
    font-family: Euclid SemiBold;
}

.position-price {
  font-family: Euclid Italic;
}

.dop {

}

.dop .dop-head {
 border-top: solid #8a8a8a 1px;
  margin-bottom: .8em;

  padding-top: 2em;
}

.dop .dop-head span {

  font-size: 2.5rem;
  font-family: Euclid SemiBold;
}

.dop-child {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}

.dop-child span {
  font-size: 2.3rem;
}

.dop-child .child {
  width: 33%;
  margin-bottom: 1.2em;

}

.dop .child span {

}

.main-logo {
  display: flex;
  justify-content: center;
}


.home-btn {
  background-color: #242424;
  display: flex;
  text-align: center;
  font-size: 4.7rem;
  justify-content: center;
  font-family: Euclid SemiBold;
  text-decoration: none;
  color: #FFF;
  padding: 1em 0 ;
  border-bottom: 1px solid #FFF;
}

.head span sup {
  font-size: 1.8rem;
}

.head .ss {
  font-size: 2.5rem;
  margin-left: 1.5em;
  font-family: Euclid Italic;
}


.position-desc .no-price {

}
