.block {
  margin-bottom: 8rem;
}

.head {
  text-align: center;
  padding: 1.5em 0;
  background-image: url(../img/header_bg.jpg);
}

.head span {
  color: #FFF;
  font-family: Euclid SemiBold;
  font-size: 3.7rem;
  text-transform: uppercase;
}

.no-underHead {
  margin-bottom: 2.5em;
}

.under-head {
  padding-top: 1.7em;
  margin-bottom: 3em
}

.under-head span {
  font-size: 2rem;
  font-family: Euclid SemiBold;
}

.position {
  margin-bottom: 4em;

}

.position-pic {
  width: 8.2em;
  background: url(../img/coct.png) no-repeat;
  background-size: 1200px;
  background-position: 0 center;
}

.position-pic.highball {
  background-position: 5px center;
}

.position-pic.martini {
  background-position: -695px center;
  background-size: 900px;
}

.position-pic.margarita {
  background-position: -535px center;
  background-size: 900px;
}

.position-pic.vine {
  background-position: -481px center;
  background-size: 1100px;
}

.position-pic.harrikein {
  background-position: -355px center;
}

.position-pic.roks {
  background-position: -148px center;
  background-size: 1050px;
}

.position-pic.flute {
  background-position: -1026px center;
  background-size: 1100px;
}


.position-grid {
  display: flex;
  justify-content: space-between;
}

.container {
    padding: 0 2em 0 2em;
}

.position-name, .position-price {
  font-size: 2.7rem;
}

.position-info {
  width: 68%;
}

.position-price {
  width: 25%;
  word-wrap: break-word;
  text-align: right;
}

.position-price .weight{
  font-size: 2rem;
  font-family: Euclid SemiBold;
  color: #a2a2a2;
}

.sup-new {
  color: #ea5f76;
  font-size: 20px;
}

.sup-info {
  color: #e5b700;
  font-size: 20px;
}

.sup-info_v2 {
  color: #9740b4;
  font-size: 20px;
}

.position-desc span {
  font-size: 2.3rem;
  color: #5d5d5d;
}

.position-desc,.no-price span {
  font-size: 19px;
  color: #5d5d5d;
}

.position-name {
  margin: 0 0 0.2em 0;
}

.position-name span {
    font-family: Euclid SemiBold;
}

.position-price {
  font-family: Euclid Italic;
}

.dop {

}

.dop .dop-head {
 border-top: solid #8a8a8a 1px;
  margin-bottom: .8em;

  padding-top: 2em;
}

.dop .dop-head span {

  font-size: 2.5rem;
  font-family: Euclid SemiBold;
}

.dop-child {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}

.dop-child span {
  font-size: 2.3rem;
}

.dop-child .child {
  width: 33%;
  margin-bottom: 3em;

}

.dop .child span {

}

.main-logo {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-scroll {
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.home-btn {
  background-color: #242424;
  display: flex;
  font-size: 3.8rem;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-family: Euclid SemiBold;
  text-decoration: none;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  height: 100%;
}

.home-sroll_btn {
width: calc( ( 99% ) / 4 );
height: 160px;
font-size: 1.2rem;
border: solid white 1px;
}

.head span sup {
  font-size: 1.8rem;
}

.head .ss {
  font-size: 2.5rem;
  margin-left: 1.5em;
  font-family: Euclid Italic;
}

.head .ss_v2 {
  font-size: 2.5rem;
  margin-left: 1.5em;
  font-family: Euclid SemiBold;
  color: #FFF;
  display: block;
  margin-top: 0.3em;
}


.position-desc .no-price {

}


/**Технологичка**/

.wrap-flex {
  display: flex;
}

.head-ing{
  padding: 0.8em 0;
}

.hhh {
  display: flex;
  justify-content: flex-start;

}

.head-ing a {
  width: 20%;
  line-height: 3rem;
  text-decoration: none;
  color: #FFF;
  font-size: 2rem;
  margin-right: 2em;
  margin-left: 0.5em;
  border: solid #CCC 1px;
  border-radius: 20px;
}

.head-ing span{
  font-size: 1.8rem;
  line-height: 3rem;
}

.split {
  display: flex;
}

.split .left {
  padding-right: 3em;
}

.split .left {
  width: 40%;
}

.split .right {
  width: 60%;
}

.position-pic.pic-tec {
  width: 6em;
  background: url(../img/coct.png) no-repeat;
  background-size: 900px;
  background-position: 0 center;
  display: none;
}

.position-grid.tec-grid {
  justify-content: flex-start;
}

.position-info.tec-pos-info {
  width: 100%;
}

.ingredients {
  font-size: 1.2rem;
}

.ingredients .ing-sep {
  border-bottom: dashed #CCC 1px;
  padding-bottom: 0.5em;
  width: 80%
}

.ingredients .ing-sep-2 {
  width: 20%;
  color: #9740b4;
}

.ingredients .ing-head {
  margin-bottom: 0.7em;
  display: block;
  font-size: 1.4rem;
  font-family: Euclid SemiBold;
  background-image: url(../img/header_bg.jpg);
  color: #FFF;
  padding: 0.5em 0.5em;
}

.onepx {
  min-width: 1px;
}

.ingredients ol,li {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.ingredients ol li {
  padding-bottom: 0.8em;
}

.ingredients ol li::marker {
  font-family: Euclid SemiBold;
  font-size: 1.4rem;
}

/**Спрайты инвентаря**/

.tec-using_row {
  display: flex;
  flex-flow: wrap;
}

.tec-using_header {
  margin-bottom: 1em;
}

.tec-using_header span {
  font-size: 1.4rem;
  font-family: Euclid SemiBold;
}

.tec-using {
  width: 100px;
  height: 100px;
  background: url(../img/tec-sprite.jpg) no-repeat;
  border: 1px solid #CCC;
  border-radius: 6px;
  margin-right: 0.5em;
}

.tec-using.spoon {
  background-position: -110px -400px;
}

.tec-using.hiboll {
  background-position: 0 -100px;
}

.tec-using.shaker {
  background-position: -110px 0;
}

.tec-using.strener {
  background-position: -110px -100px;
}

.tec-using.harrikein {
  background-position: 0 -200px;
}






@media screen and (max-width: 760px) {



  .split {
    display: flex;
    flex-direction: column;
  }

  .split .left {
    width: auto;
  }

  .split .right {
    width: auto;
  }

  .position-pic.pic-tec {
    display: none;
  }

  .split .left {
    padding: 0;
  }

  .tec-using {
    width: 96px;
    height: 96px;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
  }
}

@media screen and (max-width: 796px) {
  .home-sroll_btn {
    flex-grow: 1;
    flex-basis: 200px;
    height: 200px;
    border: solid white 1px;
  }
}
