.block {
  margin-bottom: 8rem;
}

.head {
  background-color: #242424;
  color: #FFF;
  font-family: Euclid SemiBold;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 0.1em 0;
}

.no-underHead {
  margin-bottom: 1.5em;
}

.under-head {
  padding-top: 1.7em;
  margin-bottom: 3em
}

.under-head span {
  font-size: 2rem;
  font-family: Euclid SemiBold;
}

.position {
  margin-bottom: 4em;
}

.position-grid {
  display: flex;
  justify-content: space-between;

}

.container {
    padding: 0 2em 0 2em;
}

.position-name, .position-price {
  font-size: 2.7rem;
}

.position-info {
  width: 68%;
}

.position-price {
  width: 25%;
  word-wrap: break-word;
  text-align: right;
}

.position-price .weight{
  font-size: 2rem;
  font-family: Euclid SemiBold;
  color: #a2a2a2;
}

.position-desc {
  font-size: 2.3rem;
}

.position-name {
  margin: 0 0 0.2em 0;
}

.position-name span {
    font-family: Euclid SemiBold;
}

.position-price {
  font-family: Euclid Italic;
}

.dop {

}

.dop .dop-head {
  display: inline;
}

.dop-child {

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}

.dop-child .child {
  width: 33%;
  border: solid red 1px;
}

.dop .child span {

}
